h1, h2 {
	text-align: center;
}
body {
	margin: 30px;
}

.page-header h1 {
	font-size: 6vw;
	text-align:left;
}

.page-header {
	background-color: rgba(0,0,0,.2);
	margin:0px;
	margin-bottom: 30px;
	padding:30px;
	text-align:left;
}

p {
	font-size: 2.5vw;
}

h1 small {
	font-weight:lighter;
}

.subheader {
	font-weight:lighter;
	font-style: italic;
}

#name-div {
	/*background-image: url("../assets/images/main_background.jpg");*/
	height:720px;
}

.panel {
	border-radius: 0px;
	/*border:none;*/
	padding: 0px;
	width:240px;
	text-align:left;
	margin:20px;
	float:left;
	
	display: inline-block;
	/*border-width: 1px;*/
	/*border-color: white;*/
	box-shadow: 2px 2px 1px #888888;
	
}

.panel-header {
	padding: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	top:0px;
	background-color: black
}

#projects-wrap {
    width:100%;
}

#projects {
    overflow:hidden;
    text-align: center;
}

#campaign-finance .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_campaign_finance.png");
}

#field-goal .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_field_goal.png");
}

#ma-healthcare .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_ma_healthcare.png");
}

#ma-trains .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_ma_trains.png");
}

#nyc-commute .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_nyc_commute.png");
}

#two-point .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_two_point.png");
}

#voting .panel-body {
	background-image: url("../assets/images/thumbnails/thumbnail_voting.png");
}

.panel-body p {
	color:black;
}

.panel-body {
	background-position:50% 50%;  
	background-size:cover;   
	height:240px;
}

.panel-description {
	background-color:rgba(255,255,255,.9);
	display:none;
}

.panel-header h2{
	margin:0px;
	font-size: 18px;
}

.panel p {
	font-size: 15px;
	margin: 10px;
	padding:5px;
}

a:hover {
	text-decoration:none;
}

.panel-body {
	padding: 0px;
	margin-top: 0px;
}

.top-desc p {
	font-size: 20px;
}

