html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.chartHeader {
    font-family: Raleway;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center; 
    font-family: Staatliches;
    border-bottom: 1px solid grey;
    background-color: rgba(0,0,0,.08);
}

.titleText {
    font-size: 32px;
    padding:8px;
}

.subTitleText {
    font-size: 14px;
    align-items: center;
}

.headerOutgroup {
    font-size: 16px;
}

.headerSelect {
    font-family: Raleway;
    font-size: 16px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid grey;
    padding: 4px;
    background-image: url("https://image.flaticon.com/icons/svg/60/60781.svg");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 12px;
}

.headerSelect option {
    font-size:16px;
}

.content {
    padding: 8px;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}

#barchart {
    height: calc(100% - 24px);
    max-height: 520px;
    min-height: 360px;
    min-width: 304px;
    max-width: 800px;
    width: 100%;
    position: relative;
}

#controls {
    font-family: Raleway;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
    padding: 8px;
}